# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local development environment variables
.env*.local

# Debug log from pnpm, yarn, lerna, and npm
# *.log

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# IDEs and configuration files
.idea
*.iml
.project
.classpath
.c9/

# Temporary files, backups and downloads
*.tmp
*.bak
*.swp
*~.nib

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local

# parcel cache files
.parcel-cache

# Turbo repo cache files
.turbo

# TypeScript cache files
*.tsbuildinfo

# Firebase cache
.firebase

# Genkit cache
.genkit/cache
